body{
   margin:  0px !important;
   padding: 0px !important; 
}
nav{
    background-color: rgb(49, 145, 145) ;
    height: 70px;
}
nav a{
    margin: 20px;
    color:rgb(87, 63, 33);
     text-align: center;
}
header nav ul a{
    color: brown;
text-decoration: none;
}
